<div class="card user-bio p-2">
	<h5> <span class="user-profile-icons"><%= image_tag 'user-bio.png' %></span> Intro  </h5>
	<p>Fullname: <%= user.fullname %></p>
	<p>Email Address: <%= user.email %> </p>
	<p>DOB: <%= user.dob %></p>
	<p>Gender: <%= user.sex %> </p>
</div>
