<div class="container">
	<div class="row">
		<div class="col-md-10 ml-3 mr-auto">
			<%= render 'user_timeline_banner', user: @user %>
			<div class="container p-0 mt-3">
				<div class="row">
					<div class="col-md-5 user-bio-friends">
						<%= render 'bio', user: @user %>
						<%= render 'user_friend', user: @user %>
					</div>
					<div class="col-md-7">
						<%= render 'post_form' %>
						<%= render @posts, cached: true %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	
	
	