<div class="card my-3">
		<div class="py-1 d-flex flex-row">
			<div class="m-2 rounded-circle gravatar-44"> <%= gravatar_for(current_user, size: 44) %> </div>
			<div class="mr-2 post-author p-1 mt-1"> 
				<%= link_to post.user.fullname, post.user %>
				<p class="text text-muted"> <%= time_ago_in_words(post.created_at, include_seconds: true) %>.
					<%= fa_icon "globe" %>
				</p>
			</div>
			<div class="post-actions p-0"> <%= render 'post_actions', post: post %> </div>
		</div>
			<div class="card-body post-body mx-2 p-1">
				<p><%= post.content %></p>
				<p class="text text-muted">
					<span class="post-like"> <%= image_tag "icon-like.png" %> 2 </span> 
					<span class="float-right"> 14 Comments  </span> 
				</p>
			</div>
			<div class="card-footer text-center py-2 px-3"> 
				<span class="pr-4"> 
					<%= link_to content_tag(:i, "Like", class:"fa fa-thumbs-up pr-2"), '#', class:"btn btn-sm social-btn" %>
				</span>
				<span class="pr-4">
					<%= link_to content_tag(:i, "Comments", class:"fa fa-comments pr-2"), '#', class:"btn btn-sm social-btn" %> 
					</span>
				<span class="pr-4">
					<%= link_to content_tag(:i, "Share", class:"fa fa-share pr-2"), '#', class:"btn btn-sm social-btn" %>
				</span>
			</div>
			
			<%= render 'comments', post: post %>
	</div>


