<div class="comments">
	<div class="py-1 d-flex flex-row">
			<div class="comments-gravatar mr-2 rounded-circle"> <%= image_tag 'gravatar.png' %> </div>
			<div class="comment-body pl-2 pt-1 pb-2"> 
				<span class="comment-author"> <%= link_to 'Comment Author Fullname', '#', class: "" %> </span> 
				<span class=""> This posts comments will appear here in milestone 4. Happy viewing </span> 
			</div>
	</div>
	<div class="comment-actions ml-5"> 
		<%= link_to 'Like', '#', class:"pr-1" %> - 
		<%= link_to 'Reply', '#', class: "pr-1" %> - 
		<span class="text text-muted"> 21h.</span>
	</div>
</div>
<div class="comments">
	<div class="py-1 d-flex flex-row">
			<div class="comments-gravatar mr-2 rounded-circle"> <%= image_tag 'gravatar-2.png' %> </div>
			<div class="comment-body pl-2 pt-1 pb-2"> 
				<span class="comment-author"> <%= link_to 'Comment Author Fullname', '#', class: "" %> </span> 
				<span class=""> This posts comments will appear here in milestone 4. Happy viewing </span> 
			</div>
	</div>
	<div class="comment-actions ml-5"> 
		<%= link_to 'Like', '#', class:"pr-1" %> - 
		<%= link_to 'Reply', '#', class: "pr-1" %> - 
		<span class="text text-muted"> 21h.</span>
	</div>
</div>
<div class="comments">
	<div class="py-1 d-flex flex-row">
			<div class="comments-gravatar mr-2 rounded-circle"> <%= image_tag 'gravatar-3.png' %> </div>
			<div class="comment-body pl-2 pt-1 pb-2"> 
				<span class="comment-author"> <%= link_to 'Comment Author Fullname', '#', class: "" %> </span> 
				<span class=""> This posts comments will appear here in milestone 4. Happy viewing </span> 
			</div>
	</div>
	<div class="comment-actions ml-5"> 
		<%= link_to 'Like', '#', class:"pr-1" %> - 
		<%= link_to 'Reply', '#', class: "pr-1" %> - 
		<span class="text text-muted"> 21h.</span>
	</div>
</div>
