<div class="shortcut-right">
		<div class="card p-2">
			<h7> Friend Requests </h7>
			<div class="featured-friend-requests">
      <div class="container">
       <% if has_request?(current_user) %>
        <% friend_requests_for(current_user).each do |friend| %>
           <div class="row mt-3 border p-1">
              <div class="col-md-2 mr-2">
                <div class="gravatar-44 rounded-circle"> <%= gravatar_for(friend, size: 44) %> </div>
              </div>
              <div class="col-md-9 mt-2">
                <h6> <%= link_to friend.fullname, friend %> </h6>
              </div>
            </div>
            <div class="row mt-1 p-1">
              <div class="col-sm-4 ml-auto"> 
                <%= link_to 'Confirm', friendship_path(friend), 
                method: :patch, class: 'btn btn-sm custom-default-btn', 
                title: 'Confirm friend request' %>
              </div>
              <div class="col-sm-4 mr-auto"> 
                <%= link_to 'Remove', friendship_path(friend),  
                method: :delete, 
                data: { confirm: 'Are you sure you want to remove this request?' },
                class: 'btn btn-sm btn-secondary', 
                title: 'Remove request' %>
              </div>
            </div>
         <% end %>
         <% else %>
           <p> No friend requests </p>
         <% end %>
         </div>
			</div>
		</div>
    
		<div class="card mt-3 p-2">
			<h7> Sponsored  </h7>
			<div class="ads">
				 Sponsored Ads will appear here 
			</div>
		</div>
		<div class="card mt-3 p-2">
			<span class="lang text text-muted"> English (US)
		</div>
		
		<%= render 'footer' %>
</div>
